<!-- <ol class="breadcrumb">
  <li class="active"><a href="#">場地規劃</a></li>
  <li>場地資訊、租借時間設定</li>
  <li>瀏覽</li>
</ol> -->
<div class="container" style="width: 60%">
  <!-- breadcrumb -->
  <%= render 'layouts/breadcrumb' %>
</div>

<div class="container space-edit-container" style="width: 97%">

 <!--  <%= link_to '刪除該場地', @space, method: :delete, data: { confirm: '確定要刪除？' }, class: 'btn btn-xs btn-danger delete_block', style: 'float: right' %> -->
  <!-- <a href="/spaces/<%= @space.id %>" class="btn btn-default" id="apply_block_info">下一步</a> -->


  <!-- space id -->


  <div class="main_function">
    <div class="sidebar">



      <% @blocks.each do |block| %>
        <ul class="closed">

          <!-- grandpa block name -->
          <span class="sidebar_grandpa_name" id="block_ul-<%= block.id %>" data-spaceid="<%= block.space_id %>" data-blocktype="<%= block.block_type %>"><%= block.name %></span> <% if Block.where(parent_id: block.id).count > 0 %> (<span class="block_qty"><%= Block.where(parent_id: block.id).count %></span>) <% end %>

          <!-- father blocks -->
          <% Block.where(parent_id: block.id).order('name DESC').each do |father| %>
            <ul class="father_holder closed">

              <!-- father name -->
              <span class="sidebar_father_name" id="block_fa-<%= father.id %>" data-isfloor="<%= father.is_floor %>" data-blocktype="<%= father.block_type %>"><%= father.name %></span> <% if Block.where(parent_id: father.id).count > 0 %> (<span class="block_qty"><%= Block.where(parent_id: father.id).count %></span>) <% end %>


              <!-- child blocks -->
              <% Block.where(parent_id: father.id).each do |child| %>
                <li class="sidebar_child_name" id="block_ch-<%= child.id %>" data-blocktype="<%= child.block_type %>"><%= child.name %></li>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    </div> <!-- sidebar -->

    <!-- blocks -->
    <div class="editor" data-spaceid="<%= @space.id %>">

      <% @blocks.each do |block| %>
        <div id="block-<%= block.id %>" class="newdiv" data-blocktype="<%= block.block_type %>" data-spaceid="<%= block.space_id %>" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= best_in_place block, :name %><%= link_to '×', block, class: 'block_close', method: :delete %> <i class="fa fa-cog block_edit"></i> <% if Block.where(parent_id: block.id).count > 0 %> (<span class="block_qty"><%= Block.where(parent_id: block.id).count %></span>) <% end %> </div>
      <% end %>


    </div> <!-- editor -->
  </div> <!-- main_function -->



  <div class="step_contro">
    <%= link_to '主平面圖', edit_space_path(@space), id: 'reload_and_main_pic', class: 'btn btn-success', style: 'float: left; margin-left: 15%;' %>
    <%= link_to '上一步', spaceinfo_space_path, class: 'btn btn-default' %>
    <%= link_to '下一步', detailize_space_path(@space), class: 'btn btn-primary' %>
  </div>

</div> <!-- container -->




<% if @space.surface? %>
  <%= javascript_include_tag 'space-edit-surface.js' %>
<% else %>
  <%= javascript_include_tag 'space-edit-no-surface.js' %>
<% end %>

<script>
  var name = <%= @space.name %>
  alert(name);
</script>