<div class="container">
<br>
  <%= form_for(@space) do |f| %>
    <%= f.text_field :name, value: current_user.name, style: 'display: none' %>
    <%= f.submit '平面圖', id: 'surface_pic', class: 'btn btn-default' %>
  <% end %>


  <ul>
    <% current_user.spaces.each do |space| %>
      <p><a href="/spaces/<%= space.id %>"><%= space.name %></a></p>
    <% end %>
  </ul>


</div> <!-- container -->