<div class="container" style="width: 60%">
  <!-- breadcrumb -->
  <%= render 'layouts/breadcrumb' %>
</div>
<div class="container space-show-container" style="width: 97%">



  <div class="main_display">
    <div class="show_sidebar">

      <% @blocks.each do |block| %>
        <ul class="closed">

          <!-- grandpa block name -->
          <span class="sidebar_grandpa_name" id="block_ul-<%= block.id %>"><%= block.name %> <% if Block.where(parent_id: block.id).count > 0 %> (<%= Block.where(parent_id: block.id).count %>) <% end %> </span>

          <!-- father blocks -->
          <% Block.where(parent_id: block.id).order('name DESC').each do |father| %>
            <ul class="father_holder closed">

              <!-- father name -->
              <span class="sidebar_father_name" id="block_fa-<%= father.id %>"><%= father.name %> <% if Block.where(parent_id: father.id).count > 0 %> (<%= Block.where(parent_id: father.id).count %>) <% end %></span>


              <!-- child blocks -->
              <% Block.where(parent_id: father.id).each do |child| %>
                <li class="sidebar_child_name" id="block_ch-<%= child.id %>"><span><%= child.name %></span></li>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    </div> <!-- sidebar -->

    <!-- blocks -->
    <div class="blocks_display">
      <% @blocks.each do |block| %>
        <div id="block-<%= block.id %>" class="block-show" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= block.name %></div>
      <% end %>
    </div> <!-- blocks_display -->
  </div> <!-- main_display -->

  <div class="step_contro">
    <%= link_to '主平面圖', @space, id: 'detail_index', class: 'btn btn-success', style: 'float: left; margin-left: 14.7%;' %>
    <%= link_to '上一步', detailize_space_path(@space), class: 'btn btn-default' %>
    <%= link_to '刊登場地', place_space_path, class: 'btn btn-primary' %>


  </div>


</div> <!-- container -->


<script>

  enter_block();

  space_show_sidebar();

  function enter_block() {
    $('.block-show').hover(function() {
      $(this).css({ 'cursor': 'pointer' }).click(function() {
        var id = $(this).attr('id').split('-')[1];

        $('.sidebar_grandpa_name').css({ 'color': 'black' });
        $('#block_ul-' + id).css({ 'color': 'red' });
        $('.sidebar_father_name').css({ 'color': 'black' });

        // menu controller
        if($('#block_ul-' + id).parent().siblings('ul').hasClass('open')) {
          $('#block_ul-' + id).parent().siblings('ul').addClass('closed').removeClass('open');
          $('#block_ul-' + id).parent().siblings('ul').find('.father_holder').slideUp('fast');
        }

        $('#block_ul-' + id).parent().addClass('open')
                        .removeClass('closed')
                        .find('.father_holder').slideDown('fast');


        // remove other readers
        $('.blocks_display').remove();

        // if no father reader
        if ($('.blocks_display').length == 0) {
          $('.show_sidebar').after('<div class="blocks_display"></div>');
        };

        // load father
        $('.blocks_display').load('/blocks/' + id + '/blockview');
      });
    });
  }



  function space_show_sidebar() {

    // hide father and child
    $('ul.closed').find('.father_holder, .sidebar_child_name').hide();

    $('.show_sidebar').find('.sidebar_grandpa_name').click(function() {

      var blockType = $(this).data('blocktype');

      // menu controler
      if($(this).parent().siblings('ul').hasClass('open')) {
        $(this).parent().siblings('ul').addClass('closed').removeClass('open');
        $(this).parent().siblings('ul').find('.father_holder').slideUp('fast');
      }


      $(this).closest('ul').addClass('open')
                      .removeClass('closed')
                      .find('.father_holder')
                      .slideDown('fast');


      // remove other readers
      $('.blocks_display').remove();


      // fetch current status
      var id = $(this).attr('id').split('-')[1];

      // if no father reader
      if ($('.blocks_display').length == 0) {
        $('.show_sidebar').after('<div class="blocks_display"></div>');
      };

      // load father

      $('.blocks_display').load('/blocks/' + id + '/blockview');



      // hightlight
      $('.sidebar_grandpa_name').css({ 'color': 'black' });
      $('.sidebar_father_name').css({ 'color': 'black' });

      $(this).css({ 'color': 'red' });
    });


    // ex: click floor
    $('.show_sidebar').find('.sidebar_father_name').click(function() {

      var blockType = $(this).data('blocktype');

      // menu controller
      if($(this).closest('ul').siblings('ul').hasClass('open')) {
        $(this).closest('ul').siblings('ul').addClass('closed').removeClass('open');
        $(this).closest('ul').siblings('ul').find('.sidebar_child_name').slideUp('fast');
      }

      $(this).closest('ul').addClass('open')
                           .removeClass('closed')
                           .find('.sidebar_child_name').slideDown('fast');

      // remove other readers
      $('.blocks_display').remove();

      // fetch current status
      var id = $(this).attr('id').split('-')[1];

      // if no editor then put one
      if ($('.blocks_display').length == 0) {
        $('.show_sidebar').after('<div class="blocks_display"></div>');
      };

      // then load the block show page

      $('.blocks_display').load('/blocks/' + id + '/blockview');


      // hightlight
      $('.sidebar_father_name').css({ 'color': 'black' });

      $(this).css({ 'color': 'blue' });
    });

    $('.show_sidebar').find('.sidebar_child_name').click(function() {
      var id = $(this).attr('id').split('-')[1];
      $('.blocks_display').remove();
      // if no editor then put one
      if ($('.blocks_display').length == 0) {
        $('.show_sidebar').after('<div class="blocks_display"></div>');
      };
      // then load the block show page
      $('.blocks_display').load('/blocks/' + id + '/blockview');

      $('.sidebar_child_name').css({ 'color': 'black' });
      $(this).css({ 'color': 'orange' });
    });

  } // space_show_sidebar


</script>