<br>
<div class="container">

  <%= link_to '上一頁', new_space_path, class: 'btn btn-default' %>
  <%= link_to '刪除該場地', @space, method: :delete, data: { confirm: '確定要刪除？' }, class: 'btn btn-default' %>

  <br><br>

  <!-- space id -->
  <input type="text" value="<%= @space.id %>" id="space_number", style="display: none">

  <div class="main_function">
    <div class="sidebar">
      <ul class="space_children">
        <%= @space.name %>
        <% @blocks.each do |block| %>
          <li id="block_li-<%= block.id %>"><%= block.name %></li>
        <% end %>
      </ul>
    </div> <!-- sidebar -->
    <div class="editor">
      <% @blocks.each do |block| %>
        <div id="block-<%= block.id %>" class="newdiv" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= block.name %><%= link_to '×', block, class: 'block_close', method: :delete, data: { confirm: '確定要刪除？' } %> <i class="fa fa-pencil-square-o block_edit"></i> </div>
      <% end %>
    </div> <!-- editor -->
  </div> <!-- main_function -->


</div> <!-- container -->

<div class="block_selection"></div>