<ol class="breadcrumb">
  <li><a href="/spaces/<%= @space.id %>/edit">場地規劃</a></li>
  <li class="active"><a href="#">輸入場地資訊</a></li>
  <li>租借時間設定</li>
  <li>瀏覽</li>
</ol>
<div class="container space-show-container">

  <a href="#" class="btn btn-default" id="apply_block_info">下一步</a>

  <br><br>

  <div class="main_display">
    <div class="show_sidebar">

      <p><%= link_to '主平面圖', @space %></p>

      <% @blocks.each do |block| %>
        <ul class="closed">

          <!-- grandpa block name -->
          <span class="sidebar_grandpa_name" id="block_ul-<%= block.id %>"><%= block.name %> <% if Block.where(parent_id: block.id).count > 0 %> (<%= Block.where(parent_id: block.id).count %>) <% end %> </span>

          <!-- father blocks -->
          <% Block.where(parent_id: block.id).order('name DESC').each do |father| %>
            <ul class="father_holder closed">

              <!-- father name -->
              <span class="sidebar_father_name" id="block_fa-<%= father.id %>"><%= father.name %> <% if Block.where(parent_id: father.id).count > 0 %> (<%= Block.where(parent_id: father.id).count %>) <% end %></span>


              <!-- child blocks -->
              <% Block.where(parent_id: father.id).each do |child| %>
                <li class="sidebar_child_name" id="block_ch-<%= child.id %>"><span><%= child.name %></span></li>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% end %>
    </div> <!-- sidebar -->

    <!-- blocks -->
    <div class="blocks_display">
      <% @blocks.each do |block| %>
        <div id="block-<%= block.id %>" class="block-show" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= block.name %></div>
      <% end %>
    </div> <!-- blocks_display -->
  </div> <!-- main_display -->


</div> <!-- container -->