<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>

      <ul>
      <% @block.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :left %><br>
    <%= f.text_field :left %>
  </div>
  <div class="field">
    <%= f.label :top %><br>
    <%= f.text_field :top %>
  </div>
  <div class="field">
    <%= f.label :width %><br>
    <%= f.text_field :width %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :space_id %><br>
    <%= f.number_field :space_id %>
  </div>
  <div class="field">
    <%= f.label :is_leaf %><br>
    <%= f.check_box :is_leaf %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
