<!-- block info -->

<br>
<% if @block.block_type == 0 %>
  <%= form_for @block, html: { mutilpart: true } do |f| %>

    <div class="col-md-7 col-md-offset-0">
      <table class="table table-bordered">
        <tr class="active">
          <th>最大容納人數 (人)</td>
          <th>場地大小 (坪)</th>
          <th>設備</th>
        </tr>
        <tr>
          <td><%= f.text_field :max_head_cap, class: 'form-control' %></td>
          <td><%= f.text_field :footage, class: 'form-control' %></td>
          <td><%= f.text_field :equipment, class: 'form-control' %></td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr class="active">
          <th>刊登時間</th>
        </tr>
        <tr>
          <td>
            <span class="start-at">

              <%= f.text_field :start_at, id: 'start_at', class: 'form-control', data: { "date-format" => "YYYY/MM/DD HH:mm" } %>

            </span>
            ~
            <span class="end-at">
              <%= f.text_field :end_at, id: 'end_at', class: 'form-control', data: { "date-format" => "YYYY/MM/DD HH:mm" } %>
            </span>
          </td>
        </tr>
      </table>

      <table class="table table-bordered">
        <tr class="active">
          <th>場地描述</th>
          <th>收費</th>
        </tr>
        <tr>
          <td><%= f.text_area :intro, class: 'form-control' %></td>
          <td><%= f.text_field :fee, class: 'form-control' %></td>
        </tr>
      </table>
    </div>

    <div class="col-md-3 col-md-offset-0">
      <table>
        <tr>
          <% if @block.image? %>
            <td><%= image_tag @block.image_url.to_s %></td>
          <% else %>
            <th><%= image_tag 'block-default.png', style: 'width: 250px; height: 250px; text-align: center;' %></th>
          <% end %>
        </tr>
        <tr>
          <td><%= f.file_field :image %></td>
        </tr>
      </table>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-0">
        &nbsp;
        <%= f.submit '儲存設定', class: 'btn btn-primary' %>
      </div>
    </div>

  <% end %>
<% end %>






<script>
  $(function() {
    $('#start_at').datetimepicker();
    $('#end_at').datetimepicker();
    $("#start_at").on("dp.change",function (e) {
       $('#end_at').data("DateTimePicker").setMinDate(e.date);
    });
    $("#end_at").on("dp.change",function (e) {
       $('#start_at').data("DateTimePicker").setMaxDate(e.date);
    });
  });
</script>