<!-- block info -->

<br>
<% if @block.block_type == 0 %>
  <%= form_for @block, html: { mutilpart: true, class: 'form-horizontal' } do |f| %>

    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :max_head_cap, '可容納', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.text_field :max_head_cap, class: 'form-control', autofocus: true %>
            <span class="input-group-addon">人</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :footage, '大小', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <%= f.text_field :footage, class: 'form-control' %>
            <span class="input-group-addon">坪</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :equipment, '設備', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :equipment, class: 'form-control', placeholder: 'Ex: 投影機, 麥克風, 飲水機...' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_at, '開始時間', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :start_at, id: 'start_at', class: 'form-control', data: { "date-format" => "YYYY/MM/DD HH:mm" }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_at, '結束時間', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :end_at, id: 'end_at', class: 'form-control', data: { "date-format" => "YYYY/MM/DD HH:mm" }, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :fee, '收費', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <div class="input-group">
            <span class="input-group-addon">NTD.</span>
            <%= f.text_field :fee, class: 'form-control' %>
            <span class="input-group-addon">每小時</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :intro, '場地描述', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_area :intro, class: 'form-control' %>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.submit '儲存', class: 'btn btn-success col-sm-2' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <% if @block.image? %>
        <%= image_tag @block.image_url.to_s %>
      <% else %>
        <%= image_tag 'block-default.png', style: 'width: 250px; height: 250px; text-align: center;' %>
        <%= f.file_field :image %>
      <% end %>
    </div>
  <% end %>
<% end %>

<script>
  $(function() {
    $('#start_at').datetimepicker();
    $('#end_at').datetimepicker();
    $("#start_at").on("dp.change",function (e) {
       $('#end_at').data("DateTimePicker").setMinDate(e.date);
    });
    $("#end_at").on("dp.change",function (e) {
       $('#start_at').data("DateTimePicker").setMaxDate(e.date);
    });
  });
</script>