
<% if @blocks.length == 0 %>
  <h1>沒有任何子區塊，請<a href="#">新增</a></h1>
<% else %>
  <% @blocks.each do |block| %>

    <!-- put floors -->
    <% if block.is_floor %>
      <div id="block-<%= block.id %>" class="father_block" data-blocktype="<%= block.block_type %>" data-parentId="<%= block.parent_id %>" data-isfloor="<%= block.is_floor %>" > <%= best_in_place block, :name %><%= link_to '×', block, class: 'block_close', method: :delete, data: { confirm: '確定要刪除？' } %> <i class="fa fa-pencil-square-o block_edit"></i> </div>
    <% else %>
      <div id="block-<%= block.id %>" class="newdiv" data-blocktype="<%= block.block_type %>" data-parentId="<%= block.parent_id %>" data-isfloor="<%= block.is_floor %>" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= best_in_place block, :name %><%= link_to '×', block, class: 'block_close', method: :delete, data: { confirm: '確定要刪除？' } %> <i class="fa fa-pencil-square-o block_edit"></i> </div>
    <% end %>
  <% end %>

<% end %>

<script>

console.log('-------block edit-------');
  // 如果是葉子，就移除「編輯按鈕」
  if($('.newdiv').data('blocktype') == 0) {
    $('.fa').remove();
  }

  $('.best_in_place').best_in_place();

  $('.best_in_place').bind("ajax:success", function(event) {
    var whichBlock = event.currentTarget.id.split('_')[4];
    var newName = event.currentTarget.innerText;

    // 側邊選單名稱變更
    $('#block_fa-' + whichBlock).text(newName);
    $('#block_ch-' + whichBlock).text(newName);
  });

  if($('.newdiv').length > 0) {
    sessionStorage.setItem('is_drawing', true);
  } else {
    sessionStorage.removeItem('is_drawing');
  }

  // pencil
  $('.block_edit').click(function() {
    var id = $(this).parent().attr('id').split('-')[1];
    var name = $(this).parent().find('.block_name').text();

    // in order to bind the sidebar
    sessionStorage.setItem('parent_id', id);


    // in order to chain name into new element
    // sessionStorage.setItem('parent_name', name);

    // in order to hide the logic button
    sessionStorage.setItem('parent_type', $(this).parent().data('blocktype'));

    sessionStorage.setItem('is_floor', $(this).parent().data('isfloor'));

    // sidebar highlight
    $('.sidebar_father_name').css({ 'color': 'black' });
    $('#block_fa-' + id).css({ 'color': 'blue' });


    $('.sidebar').after('<div class="selection_panel"></div>');
    $('.selection_panel').load('/pages/decision');

    // sidebar changing
    if($('#block_fa-' + id).closest('ul').siblings('ul').hasClass('open')) {
      $('#block_fa-' + id).closest('ul').siblings('ul').addClass('closed').removeClass('open');
      $('#block_fa-' + id).closest('ul').siblings('ul').find('.sidebar_child_name').slideUp('fast');
    }

    $('#block_fa-' + id).closest('ul').addClass('open')
                                      .removeClass('closed')
                                      .find('.sidebar_child_name').slideDown('fast');


    // if it has something
    if($('#block_fa-' + id).closest('ul').find('li').length > 0) {

      $('.selection_panel').remove();
      $('.tmp_reader').remove();
      $('.editor').remove();
      $('.newdiv').remove();

      if ($('.editor').length == 0) {
        $('.sidebar').after('<div class="editor"></div>');
      };

      $('.editor').load('/blocks/' + id + '/edit', function() {

        if(sessionStorage.getItem('is_drawing')){
          dragAndResizeBlock($(this).find('.newdiv'));
          boxer($(this));
        }



      });

    } else {

      $('.selection_panel').remove();
      $('.tmp_reader').remove();
      $('.editor').remove();
      $('.newdiv').remove();

      if ($('.selection_panel').length == 0) {
        $('.sidebar').after('<div class="selection_panel"></div>');
      };

      $('.selection_panel').load('/pages/decision');
    }
  });


  // ----------------------------------------------------------------------
  function boxer(obj) {
    var beginX, beginY, endX, endY, width, height;

    $(obj).selectable({

      start: function(e) {
        var posX = $(this).position().left, posY = $(this).position().top;

        beginX = e.pageX - posX;
        beginY = e.pageY - posY;

      },

      stop: function(e) {
        var posX = $(this).offset().left, posY = $(this).offset().top;

        endX = e.pageX - posX;
        endY = e.pageY - posY;

        if(beginX > endX) { var tmp = beginX; beginX = endX; endX = tmp; }
        if(beginY > endY) { var tmp = beginY; beginY = endY; endY = tmp; }

        width = endX - beginX;
        height = endY - beginY;



        // generate block object when finish drawing
        var block = {
          'name': 'block',
          'width': width,
          'height': height,
          'left': beginX,
          'top': beginY,
          'parent_id': sessionStorage.getItem('parent_id')
        };

        // storage to database
        $.ajax({
          type: 'POST',
          url: '/blocks',
          data: JSON.stringify(block),
          dataType: 'json',
          contentType: 'application/json',
          success: function(data) {
            $('<div id="block-'+ data.id +'" class="newdiv" data-blocktype="'+ data.block_type +'" style="position: absolute; width: '+ data.width +'px; height: '+ data.height +'px; left: '+ data.left +'px; top: '+ data.top +'px;"><span class="best_in_place ui-selectee" id="best_in_place_block_'+ data.id +'_name" data-url="/blocks/'+ data.id +'" data-object="block" data-attribute="name" data-type="input">block</span><a class="block_close ui-selectee" data-confirm="確定要刪除？" data-method="delete" href="/blocks/'+ data.id +'" rel="nofollow">×</a></div>').draggable({
                opacity: 0.35,
                stop: function(event, ui) {

                  var $this = $(this);

                  var block = {
                    'left': ui.position.left,
                    'top' : ui.position.top
                  };

                  $.ajax({
                    type: 'PUT',
                    url: '/blocks/' + $this.attr('id').split('-')[1],
                    data: JSON.stringify(block),
                    dataType: 'json',
                    contentType: 'application/json'
                  });
                }
            }).resizable({
              stop: function(event, ui) {

                var $this = $(this);

                var block = {
                  'width': ui.size.width,
                  'height' : ui.size.height
                };

                $.ajax({
                  type: 'PUT',
                  url: '/blocks/' + $this.attr('id').split('-')[1],
                  data: JSON.stringify(block),
                  dataType: 'json',
                  contentType: 'application/json'
                });
              }
            }).appendTo(obj);

            if(sessionStorage.getItem('parent_type') == 2) {
              alert('plzzzz help me');
            }



            // $('.best_in_place').bind("ajax:success", function(event) {
            //   var whichBlock = event.currentTarget.id.split('_')[4];
            //   var newName = event.currentTarget.innerText;

            //   // 側邊選單名稱變更
            //   $('#block_ch-' + whichBlock).text(newName);

            // });
            bindSideBarBlockLink();
          }

        });

      }
    });
  } // boxer


  function dragAndResizeBlock(block) {

    block.resizable({

      stop: function(event, ui) {

        var $this = $(this);

        var block = {
          'width': ui.size.width,
          'height' : ui.size.height
        };

        $.ajax({
          type: 'PUT',
          url: '/blocks/' + $this.attr('id').split('-')[1],
          data: JSON.stringify(block),
          dataType: 'json',
          contentType: 'application/json'
        });
      }
    }).draggable({
      opacity: 0.35,
      stop: function(event, ui) {

        var $this = $(this);

        var block = {
          'left': ui.position.left,
          'top' : ui.position.top
        };

        $.ajax({
          type: 'PUT',
          url: '/blocks/' + $this.attr('id').split('-')[1],
          data: JSON.stringify(block),
          dataType: 'json',
          contentType: 'application/json'
        });
      }
    });
  } // drag and resize block





  // for the existed block
  $('.block_close').click(function() {
    sessionStorage.setItem('prePage', sessionStorage.getItem('parent_id'));
  });





</script>