<div class="container">
  <h1>Listing blocks</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Left</th>
        <th>Top</th>
        <th>Width</th>
        <th>Height</th>
        <th>Space</th>
        <th>Is leaf</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @blocks.each do |block| %>
        <tr>
          <td><%= block.name %></td>
          <td><%= block.left %></td>
          <td><%= block.top %></td>
          <td><%= block.width %></td>
          <td><%= block.height %></td>
          <td><%= block.space_id %></td>
          <td><%= block.is_leaf %></td>
          <td><%= link_to 'Show', block %></td>
          <td><%= link_to 'Edit', edit_block_path(block) %></td>
          <td><%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Block', new_block_path %>

</div>