<div class="container">
<%= params %>
  <h1>Listing blocks</h1>

  <br>

    <%= form_for blocks_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= text_field_tag :start_at, params[:start_at], id: 'start_at', data: { "date-format" => "YYYY/MM/DD" } %>
        <%= text_field_tag :end_at, params[:end_at], id: 'end_at', data: { "date-format" => "YYYY/MM/DD" } %>
        <%= submit_tag "search", name: nil %>
      </p>
    <% end %>



  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>場地名稱</th>
        <th>最大容納人數</th>
        <th>坪數</th>
        <th>設備</th>
        <th>費用</th>
        <th>開放租借時間</th>
      </tr>
    </thead>

    <tbody>
      <% @blocks.each do |block| %>
        <tr>
          <td><%= image_tag 'block-default.png', style: 'width: 50px; height: 50px' %></td>
          <td><%= block.name %></td>
          <td><%= block.max_head_cap %></td>
          <td><%= block.footage %></td>
          <td><%= block.equipment %></td>
          <td><%= block.fee %></td>
          <td><%= block.start_at.strftime("%Y/%m/%d %H:%M") if block.start_at.present? %> ~ <%= block.end_at.strftime("%Y/%m/%d %H:%M") if block.end_at.present? %></td>
          <td><%= link_to 'Show', block %></td>
          <td><%= link_to 'Edit', edit_block_path(block) %></td>
          <td><%= link_to 'Destroy', block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Block', new_block_path %>

</div>

<script>
  $(function() {
    $('#start_at').datetimepicker({
      pickTime: false
    });
    $('#end_at').datetimepicker({
      pickTime: false
    });
    $("#start_at").on("dp.change",function (e) {
       $('#end_at').data("DateTimePicker").setMinDate(e.date);
    });
    $("#end_at").on("dp.change",function (e) {
       $('#start_at').data("DateTimePicker").setMaxDate(e.date);
    });
  });
</script>