<!-- put floors -->
<% @blocks.each do |block| %>

  <% if block.is_floor %>
    <div id="block-<%= block.id %>" class="father_block <% if Block.where(parent_id: block.id).count > 0 %>iamfather<% end %>" data-parentid="<%= block.parent_id %>"><%= block.name %> <% if Block.where(parent_id: block.id).count > 0 %> (<span class="block_qty"><%= Block.where(parent_id: block.id).count %></span>) <% end %> </div>
  <% else %>

    <div id="block-<%= block.id %>" class="block-show<%= ' empty' if block.max_head_cap.nil? %>" data-blockparentid="<%= block.parent_id %>" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= block.name %><%= "<a href='#' class='block_info' data-parentid=#{block.parent_id}><i class='fa fa-pencil'></i></a>".html_safe if block.block_type == 0 %></div>

  <% end %>
<% end %>

<script>
  $(function() {

    // $('.edit_target_block').click(function() {
    //   var id = $(this).closest('.block-show').attr('id').split('-')[1];
    //   $('.blocks_display').remove();
    //   $('.show_sidebar').after('<div class="blocks_display tmp_display"></div>');
    //   $('.tmp_display').load('/blocks/' + id + '/blockinfo');
    //   sessionStorage.setItem('update_info_redir', id);
    // });

    // $('.father_block').hover(function() {
    //   if($(this).hasClass('iamfather')) {
    //     $(this).css({
    //       'cursor': 'pointer'
    //     }).click(function() {
    //       var id = $(this).attr('id').split('-')[1];


    //       // $('.sidebar_grandpa_name').css({ 'color': 'black' });
    //       $('#block_ul-' + id).css({ 'color': 'red' });
    //       $('.sidebar_father_name').css({ 'color': 'black' });
    //       $('#block_fa-' + id).css({ 'color': 'blue' });


    //       // menu controller
    //       if($('#block_ul-' + id).parent().siblings('ul').hasClass('open')) {
    //         $('#block_ul-' + id).parent().siblings('ul').addClass('closed').removeClass('open');
    //         $('#block_ul-' + id).parent().siblings('ul').find('.father_holder').slideUp('fast');
    //       }

    //       $('#block_ul-' + id).parent().addClass('open')
    //                       .removeClass('closed')
    //                       .find('.father_holder').slideDown('fast');

    //       if($('#block_fa-' + id).closest('ul').siblings('ul').hasClass('open')) {
    //         $('#block_fa-' + id).closest('ul').siblings('ul').addClass('closed').removeClass('open');
    //         $('#block_fa-' + id).closest('ul').siblings('ul').find('.sidebar_child_name').slideUp('fast');
    //       }

    //       $('#block_fa-' + id).closest('ul').addClass('open')
    //                            .removeClass('closed')
    //                            .find('.sidebar_child_name').slideDown('fast');

    //       // remove other readers
    //       $('.blocks_display').remove();

    //       // if no father reader
    //       if ($('.blocks_display').length == 0) {
    //         $('.show_sidebar').after('<div class="blocks_display"></div>');
    //       };

    //       // load father
    //       $('.blocks_display').load('/blocks/' + id);
    //     });
    //   }
    // });

    // add block enter icon
    $('.iamfather').append('<i class="fa fa-th block_enter"></i>');

    // add blick enter feature
    $('.block_enter').click(function() {
      $('.sidebar_child_name').css({ 'color': 'black' });

      var id = $(this).closest('.father_block').attr('id').split('-')[1];
      sessionStorage.setItem('block_parent_id', $(this).closest('.father_block').data('parentid'));
      var parentid = $(this).closest('.father_block').data('parentid');



      // $('.sidebar_grandpa_name').css({ 'color': 'black' });
      $('#block_ul-' + id).css({ 'color': 'red' });
      $('.sidebar_father_name').css({ 'color': 'black' });
      $('#block_fa-' + id).css({ 'color': 'blue' });


      // menu controller
      if($('#block_ul-' + id).parent().siblings('ul').hasClass('open')) {
        $('#block_ul-' + id).parent().siblings('ul').addClass('closed').removeClass('open');
        $('#block_ul-' + id).parent().siblings('ul').find('.father_holder').slideUp('fast');
      }

      $('#block_ul-' + id).parent().addClass('open')
                      .removeClass('closed')
                      .find('.father_holder').slideDown('fast');

      if($('#block_fa-' + id).closest('ul').siblings('ul').hasClass('open')) {
        $('#block_fa-' + id).closest('ul').siblings('ul').addClass('closed').removeClass('open');
        $('#block_fa-' + id).closest('ul').siblings('ul').find('.sidebar_child_name').slideUp('fast');
      }

      $('#block_fa-' + id).closest('ul').addClass('open')
                           .removeClass('closed')
                           .find('.sidebar_child_name').slideDown('fast');

      // remove other readers
      $('.blocks_display').remove();

      // if no father reader
      if ($('.blocks_display').length == 0) {
        $('.show_sidebar').after('<div class="blocks_display"></div>');
      };

      // load father
      $('.blocks_display').load('/blocks/' + id);

      if (sessionStorage.getItem('block_parent_id')) {
        $('#detail_index').text('回到上一層').click(function() {
          sessionStorage.clear();
          sessionStorage.setItem('back_to_top', parentid);
        });
      };

    });

    // block info for the next page
    $('.block_info').click(function() {

      sessionStorage.setItem('block_parent_id', $(this).data('parentid'));

      var id = $(this).closest('.block-show').attr('id').split('-')[1];
      sessionStorage.setItem('update_info_redir', id);

      var parentid = $(this).data('parentid');


      $('.sidebar_father_name').css({ 'color': 'black' });
      $('.sidebar_child_name').css({ 'color': 'black' });
      $('#block_fa-' + id).css({ 'color': 'blue' });
      $('#block_ch-' + id).css({ 'color': 'orange' });
      $('#block_ch-' + id).siblings('.sidebar_father_name').css({ 'color': 'blue' });

      $('.blocks_display').remove();
      $('.show_sidebar').after('<div class="blocks_display tmp_display"></div>');

      // if($(this).closest('.block-show').hasClass('empty')) {
        $('.tmp_display').load('/blocks/' + id + '/blockinfo');
      // } else {
        // $('.tmp_display').load('/blocks/' + id);
      // }

      if (sessionStorage.getItem('update_info_redir')) {
        $('#detail_index').text('回到上一層').click(function() {
          sessionStorage.clear();
          sessionStorage.setItem('back_to_top', parentid);
        });
      };

    });

  });
</script>