<% if @blocks.length == 0 %>
  <h1>沒有任何子區塊</h1>
<% else %>
  <!-- put floors -->
  <% @blocks.each do |block| %>

    <% if block.is_floor %>
      <div id="block-<%= block.id %>" class="father_block"><%= block.name %></div>
    <% else %>

      <div id="block-<%= block.id %>" class="block-show" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><%= block.name %></div>
    <% end %>
  <% end %>
<% end %>