<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
  <strong>Left:</strong>
  <%= @block.left %>
</p>

<p>
  <strong>Top:</strong>
  <%= @block.top %>
</p>

<p>
  <strong>Width:</strong>
  <%= @block.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @block.height %>
</p>

<p>
  <strong>Space:</strong>
  <%= @block.space_id %>
</p>

<p>
  <strong>Block type:</strong>
  <%= @block.block_type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @block.parent_id %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
