
<% if @blocks.length == 0 %>
  <h1>沒有任何子區塊</h1>
<% else %>
  <% @blocks.each do |block| %>
    <div id="block-<%= block.id %>" class="father_block" data-blocktype="<%= block.block_type %>" style="width: <%= block.width %>px; height: <%= block.height %>px; top: <%= block.top %>px; left: <%= block.left %>px"><a href="#" class="block_name" id="father_name-<%= block.id %>" data-type="text" data-title="修改樓層名稱："><%= block.name %></a><%= link_to '×', block, class: 'block_close', method: :delete, data: { confirm: '確定要刪除？' } %> <i class="fa fa-pencil-square-o block_edit"></i> </div>
  <% end %>
<% end %>


<script>
  $('.block_name').editable();
  $('.block_edit').click(function() {
    var id = $(this).parent().attr('id').split('-')[1];

    sessionStorage.setItem('parent_id', id);

    sessionStorage.setItem('block_type', $(this).parent().data('blocktype'));

    // side bar high light
    $('.father').css({ 'color': 'black' });
    $('#block_fa-' + id).css({ 'color': 'blue' });

    $('.father_reader').remove();
    $('.sidebar').after('<div class="selection_panel"></div>');
    $('.selection_panel').load('/pages/decision');



  });
</script>