<style>
  body {
    color: white;
    background: #000;
  }
</style>

<div id="feature-wrapper">

  <h1>我們的特色</h1>

  <%= image_tag '11.png' %>
  <%= image_tag '22.png' %>
  <%= image_tag '33.png' %>
  <%= image_tag '44.png' %>
  <%= image_tag '55.png' %>
</div>