<div class="container">
  <br>
  <%= render 'layouts/breadcrumb_for_user' %>
  <br>
  <div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">等待您審核的場地</div>
        <table class="table table-hover">
          <thead>
            <% if current_user.orders.where(is_activated: false).length < 1 %>
              <h2 align="center">目前沒有記錄。</h2>
            <% else %>
              <tr>
                <th>單位名稱</th>
                <th>場地名稱</th>
                <th>申請日期</th>
                <th>申請人</th>
                <th>操作</th>
              </tr>
            <% end %>

          </thead>

          <tbody>
            <% current_user.orders.where(is_activated: false).each do |record| %>

              <tr>
                <td><%= link_to record.space.name, preview_space_path(record.space) %></td>
                <td><%= record.block.name %></td>
                <td><%= record.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                <td><%= link_to record.registration.user.name, record.registration.user %></td>
                <td><%= link_to '通過', activate_order_path(record), method: 'post', confirm: '確定通過審核？' %></td>
              </tr>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
   <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">審核通過的場地</div>
        <table class="table table-hover">
          <thead>
            <% if current_user.orders.where(is_activated: true).length < 1 %>
              <h2 align="center">目前沒有記錄。</h2>
            <% else %>
              <tr>
                <th>您的單位</th>
                <th>您的場地</th>
                <th>申請日期</th>
                <th>申請人</th>
              </tr>
            <% end %>

          </thead>

          <tbody>
            <% current_user.orders.where(is_activated: true).each do |record| %>

              <tr>
                <td><%= link_to record.space.name, preview_space_path(record.space) %></td>
                <td><%= record.block.name %></td>
                <td><%= record.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                <td><%= link_to record.registration.user.name, record.registration.user %></td>

              </tr>

            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>