<!DOCTYPE html>
<html>
<head>
  <title>Cloudspace</title>



  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>




  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">



</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <!-- logo -->

    <%= link_to 'CloudSpace', root_path, class: 'navbar-brand' %>

    <% if current_user.blank? %>
      <!-- signup and login -->
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to '註冊', new_user_registration_path %></li>
        <li><%= link_to '登入', new_user_session_path %></li>
      </ul>
    <% else %>
      <!-- user selection -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Blocks', blocks_path %></li>
            <li><%= link_to '修改個資', edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to '登出', destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    <% end %>

  </div>
</nav>


<%= yield %>


</body>
</html>