<!DOCTYPE html>
<html>
<head>
  <title>i-Rent</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


  <link href='http://fonts.googleapis.com/css?family=Yellowtail|Permanent+Marker|Syncopate|Bad+Script|Fugaz+One|Reenie+Beanie|Kaushan+Script|Damion|Courgette|Julius+Sans+One|Wallpoet' rel='stylesheet' type='text/css'>

</head>
<body>

  <%= render 'layouts/header' %>
  <br><br>



<!-- flash -->
<% flash.each do |key, value| %>
  <p class="bg-<%= key %> flash_msg"><%= value %></p>
<% end %>

<div class="wrapper">
  <%= yield %>
</div>


</body>
</html>


<script>
  $('.flash_msg').delay(500).fadeIn('normal', function() {
    $(this).delay(2500).fadeOut();
  });

</script>